---
---
@import "minima";

body {
  background-color: #F9F7F2 !important;
  color: #1A2B3C !important;
}

h1, h2, h3, .site-title {
  color: #005596 !important;
}

a {
  color: #005596 !important;
  text-decoration: underline !important;
}

.site-header {
  border-top: 5px solid #005596 !important;
  background-color: #F9F7F2 !important;
}
